<div class="container m-3 p-3 bg-white border-round-md">
  <p-messages></p-messages>
  <p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>


  <div class="grid p-fluid">
    <div class="col-12 md:col-10">
      <br />
      <h1 class="text-center">{{title}}</h1>
    </div>
    <div class="col-12 md:col-2 ">
      <label>&nbsp;</label>
      <button pButton routerLink="/itens/novo" icon="pi pi-fw pi-user-plus" label="Novo"></button>
    </div>
  </div>

  <div>
    <p-table [value]="itens" responsiveLayout="stack" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
      [paginator]="true" [rows]="5" [totalRecords]="totaldeRegistros" [loading]="loading" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5,10,20]"
      currentPageReportTemplate="Registros {first} de {last} - Total {totalRecords} registros"
      [globalFilterFields]="['inventario.nome', 'inventario.local']" dataKey="id">

      <ng-template pTemplate="caption">
        Lista de itens
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Id</th>
          <th>Patrimonio</th>
          <th>Situação</th>
          <th>Codigo</th>
          <th>Data de cadastro</th>
          <th>Descrição</th>
          <th>Pessoa</th>
          <th>Tipo</th>
          <th>Local</th>
          <th>Valor</th>
          <th>Propriedade</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-inventario let-columns="columns">
        <tr>

          <td><span class="p-column-title">Id: </span>{{ inventario.id }}</td>
          <td><span class="p-column-title">Patrimonio: </span>{{ inventario.patrimonio }}</td>
          <td><span class="p-column-title">Situação: </span>{{ inventario.situacao }}</td>
          <td><span class="p-column-title">Codigo: </span>{{ inventario.codigo}}</td>
          <td><span class="p-column-title">Data de cadastro: </span>{{ inventario.dtCadastro}}</td>
          <td><span class="p-column-title">Descrição: </span>{{ inventario.descricao }}</td>
          <td><span class="p-column-title">Pessoa: </span>{{ inventario?.pessoa?.nome}}</td>
          <td><span class="p-column-title">Tipo: </span>{{ inventario?.tipo?.categoria }}</td>
          <td><span class="p-column-title">local: </span>{{inventario?.ambiente?.ambiente}}</td>
          <td><span class="p-column-title">Valor: </span>{{ inventario.valor | currency: "BRL" }}</td>
          <td><span class="p-column-title">Propriedade: </span>{{inventario.propriedade}}</td>

          <td><span class="p-column-title">Ações: </span>
            <button pButton icon="pi pi-fw pi-pencil" (click)="editar(inventario.id)"></button>

            <button class="p-button-danger mt-1" pButton icon="pi pi-fw pi-trash"
              (click)="onDelete(inventario.id)"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="12">Nenhum inventario criado.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
