<nav class="navbar" responsiveLayout="stack">
  <div class="grid p-fluid justify-content-around ">
    <div class="col-8 mt-1">
      <picture>
        <img src="assets\showcase\img\connect_logo.svg" width="130 px" routerLink="/">
      </picture>
     
      
    </div>
    <div class="col-0 flex">
      <div class="h-1rem flex mt-4 justify-content-center">
        <button *ngIf="!isLogged" pButton type="button" label="Entrar" (click)="login()"></button>

      </div>
      <a *ngIf="isLogged" class="btMenu" (click)="exibirNav = !exibirNav">
        <i class="iconMenu" [ngClass]="!exibirNav ? 'pi pi-fw pi-bars' : 'pi pi-fw pi-times'"></i>
      </a>
    </div>
  </div>
</nav>


<p-panelMenu #menu [hidden]="!exibirNav" [model]="itemMenu" backLabel="Voltar" [style]="{
        'position': 'fixed',
        'top': '58px',
        'bottom': '0',
        'right': '0',
        'margin': '0',
        'padding': '0',
        'width': '290px',
        'z-index': '1000',
        'border-left':'1px solid orange',
        'background-color': '#d2d4da'}">
</p-panelMenu>